body{
    background: #ecf0f1;
}
.contenido{
    height: 100vh;
    background: #ecf0f1;
    padding: 5em 2em 2em 2em;
}
.contenido--tabla{
    margin: 0 0 0 12em;
    min-height: 100vh;
    background: white;
    padding: 2em;
}