body{
    background: #ecf0f1;
}
.contenido{
    height: 100vh;
    background: #ecf0f1;
    padding: 5em 2em 2em 2em;
}
.contenido--tabla{
    margin: 0 0 0 12em;
    min-height: 100vh;
    background: white;
    padding: 2em;
}


span.select2-container {
    z-index:10050;
    min-width: 410px;
    font-size: 14px;
}