@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{
	font-family: 'Open Sans', sans-serif;
}
*,ul,li,a,h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	padding: 0;
	margin: 0;
}
table{
	border-collapse:collapse;
	font-size: 14px;
}
.input--formulario{
	padding: 1em 1em;
	border-radius: 10px;
	width: 94%;
	border: none;
	background: #FAFAFA;
	border:  solid #D2D2D2 1px;
	font-size: 14px;
}
.btn-primario{
	border:  solid #62a8ea 1px;
	padding: 0.8em 1.5em;
	border-radius: 5px;
	background: none;
	color: #62a8ea;
	cursor: pointer;
	font-size: 14px;
}
.btn-primario:hover{
	border:  solid #62a8ea 1px;
	background: #62a8ea;
	color: white;
}

.tabla{
	background: while;
	width: 100%;
}
.tabla--datos{
	width: 100%;
	text-align: center;
}
.tabla--datos th, td{
	padding: 0.8em;
	border: solid 1px #e4eaec;
}
.tabla--datos-fila:hover{
	background: #f6f6f6;	
}


.modalDialog {
	position: fixed;
	overflow-x: hidden;
    overflow-y: auto;
	top: -200%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	transition: 400ms ease-in;
	pointer-events: none;
	padding: 3em 0;
}
.modalDialog:target {
	top: 0;
	pointer-events: auto;
}
.modalDialog > div {
	width: 500px;
	position: absolute;
	margin: 10% auto;
	padding: 2em;
	border-radius: 5px;
	background: #fff;
	transition:  400ms ease-in;
}
.close {
	background: #62a8ea;
	color: white;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 30px;
	height: 30px;
	font-weight: bold;
	border-radius: 50px;
}
.close:hover { background: #00d9ff; }
