*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    z-index: 3;
}

#menu-bar{
    display: none;
}

header label{
    float: right;
    cursor: pointer;
    z-index: 3;
}
.cont-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
 }
@media(min-width:750px){
    header{
        position: relative;
    }
    .logo{
        margin: auto 0px;
    }
    .cont-header{
        width: 80%;
        justify-content:space-between;
        align-content: center;
        margin: auto;   
    }
    .menu{
        top: 0;
        margin-left: -50px;
        width: auto;
        position: static;
        transform: translateX(0%);
        flex-flow: row wrap;
        background: none;
        max-width: none;
        
    }
    .icon{
        width: auto;
        color: white;
         
    }
    .icon a{
        color: white;
    }
    header label{
    display: none;
    }

body {
    background:#fffffa;
}

header {
    width:100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    overflow:hidden;
    background:#3c8dbc;
    margin-bottom:0px;
}


header .logogc {
    color:#f2f2f2;
    font-size:20px;
    line-height:60px;
    margin-left:60px;
    float:left;
}

header .usuariogc {
    color:#f2f2f2;
    font-size:15px;
    line-height:60px;
    margin-left:300px;
    float:left;
}

header nav{
    float:right;
    line-height:60px;
    margin: 0 0 0 20px;
}

header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:15px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

header nav a:hover{
    background:#f56f3a;
    border-radius:50px;
}

.headergc{
    position: fixed;
/*    height:100px;
*/}
.servicios{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicios--contenido{
    text-align: center;
}
.servicios--informacion{
    display: flex;
    align-items: center;
}
.servicios--informacion_full{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
}
.servicios--informacion_full img{
    padding:0.5em;
    width: 140px;
    background:  rgb(213, 8, 107);
    border-radius: 400px;
}
.servicios--informacion_full h4{
    margin: 20px 0;
    color: rgb(213, 8, 107);
}
.titulo_segundario{
    font-weight: inherit;
    font-size: 30px;
    margin: 0 0 150px 0;
}
.titulo_segundario span{
    font-weight: bolder;
    color: rgb(213, 8, 107);
    margin: 0 8px;
}
footer{
    background: rgb(27, 27, 27);
    padding: 2em 0;
    text-align: center;
}
footer a{
    margin: 5px 15px;
    color: white; 
}
footer a:hover{
    color: rgb(213, 8, 107);    
}
footer p{
 margin:  15px 0 -5px 0;
 font-size: 15px;
 color: rgb(213, 8, 107);
}
.headergc .logogc{
    line-height:100px;
    font-size:30px;
}

.headergc nav{
/*    line-height:100px;*/
}