/*menu lateral*/

div#barra-lateral{
	position:fixed;
	width:200px;
	height:100%;
	background-color:#263238;
	overflow:hidden;
	-webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

div#barra-lateral:hover{
	width:200px;
}

div#logo-menu{
	width:40px;
	height:40px;
	margin:10px;
	background-image:url(img/menu.png);
}

div#contenedor-logos-primero{
	margin-top:70px;
}

div.contenedor-logos{
	margin-top:20px;
	margin-left:12px;
	width:130px;
	height:40px;
	
}

.logo{
	width:30px;
	height:30px;
	display: flex;
	align-items: center;
	float: left;
}
.logo i{
	margin: 0 0 0 20px;
	color: rgba(163,175,183,.9);
}

.logo li a {
	display:block;
}

.title-menu{
	margin-left:20px;
	line-height: 40px;
	color: rgba(163,175,183,.9);
}
.title-menu:hover{
	color: white;
}


/*body*/

div#body{
	position:absolute;
	right:0px;
	min-height:300px;
	left:170px;
}

div#texto{
	width:50%;
	min-height:300px;
	float:left;
}

p#texto-contenedor-1{
	font-size:25px;
	margin:30px;
	margin-top:50px;
	color:#595959;
}

div#foto{
	width:50%;
	height:300px;
	float:right;
}

img#foto-contenedor-1{
	margin:auto;
	margin-top:15px;
	width:300px;
	display:block;
}
#menu--desplegable1{
	margin: 0 0 0 2em;
	display:none;
}


#menu--desplegable1 .contenedor-logos .logo li{
	margin: 0 0 0 40px;
}








